{% extends 'index.html' %}

{% block body %} 
<br>
<h3>Genetic Knowledge in Medicine</h3>

    <p>We Are A Team Of Life Sciences And Informatics Consultants Bringing Cutting Edge Solutions To Address The Needs Of The Healthcare,
         Biotech And Pharma Industries. Our Combined Expertise Blends Traditional Biotechnology With Areas Of Data Analytics, Genomics And
          Proteomics And Regulatory, To Develop Customised Solutions</p>
        <ol>
            <li>OUR VISION-Harness power of Technology to enable Healthcare deliver affordable, fast and robust clinical solutions to every patient.</li>
            <li>OUR MISSION-Blend science, technology and informatics to assist clients in Healthcare and Biotech industry address their needs</li>
        </ol>
        
    

{% endblock  %}